* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-color: #ffffff
}

.onboardingContainer {
    position: absolute;
    visibility: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: absolute;
}

.onboardingText {
    height: 50vh;
    width: 40vw;
}

.onboardStart {
    border-radius: 50%;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border: black 1px solid;
}

.onboardQuestions1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    width: 80vw;
    position: absolute;
    padding-top: 8vh;
    display: none;
}

.onboardQ1 {
    width: 100%;
    text-align: left;
    height: 15vh;
}

.selector {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    flex-direction: column;
    margin: 5vh
}

.vapeCountBox {
    width: 20%;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
}

.vapeCountBoxItem {
    height: 30px;
    padding: 10px;
}

.hoverOption {
    display: none;
}

.hoverOptionPurchase {
    display: none;
}

.purchaseCountBox {
    width: 20%;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
}

.purchaseCountBoxItem {
    height: 30px;
    padding: 10px;
}

.slider {
    width: 100%;
}

.sliderRange {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectorSmall {
    margin-left: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.onboardQuestions2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    width: 80vw;
    position: absolute;
    padding-top: 8vh;
    display: none;
}

.onboardQ2 {
    width: 100%;
    text-align: left;
    height: 10vh;
}

.onboardQ2text {
    width: 100%;
    text-align: center;
    height: 10vh;
}

.onboardQ2Move {
    border: black 1px solid;
    border-radius: 5%;
    background-color: #ffffff;
    height: 5vh;
}

.Q2button {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10vh;
}

.logEntry {
    background-color: lightgray;
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.vapeQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.vapeQuestionOptions {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.vOption {
    width: 80vw;
}

.feelings {
    display: flex;
    justify-content: center;
}

.feelingOption {
    padding: 40px;
    justify-content: center;
}

.feelingQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.symptoms {
    display: flex;
    justify-content: center;
}

.symptomOption {
    padding: 40px;
    justify-content: center;
}

.symptomQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.energyLevels {
    display: flex;
    justify-content: center;
}

.energyOption {
    padding: 40px;
    justify-content: center;
}

.energyQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.discardEntry {
    background-color: lightgray;
    width: 50vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vapeType {
    width: 20%;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    margin: 5vh;

}

.vapeTypeItem {
    height: 30px;
    padding: 10px;
    background-color: #ffffff;
}

.hoverOptionVapeD {
    display: none;
}

.discardOptions {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 20px;
}

.discardButton {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border: black 1px solid;
}

.purchaseEntry {
    background-color: lightgray;
    width: 50vw;
    height: 90vh;
    text-align: center;
    /* padding-top: 5vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#purchaseEntry {
    display: none;
}

.vapeTypeP {
    width: 20%;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    margin: 5vh;
    position: absolute;
    margin-top: 15vh;

}

.vapeTypeItemP {
    height: 30px;
    padding: 10px;
    background-color: #ffffff;
}

.hoverOptionVapeP {
    display: none;
}

.vapePurchaseCost {
    width: 100%;
    text-align: center;
}

.purchaseOptions {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 40px;
}


.purchaseButton {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border: black 1px solid;
}


.close {
    width: 97%;
    text-align: right;
    padding: 2vh;
}

.close:hover {
    cursor: pointer;
}

.closeD:hover {
    cursor: pointer;
}