* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-color: #ffffff
}

.onboardingContainer {
    position: absolute;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: absolute;
}

.onboardingText {
    height: 50vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.onboardStart {
    border-radius: 16px;
    background-color: #ffffff;
    width: 250px;
    height: 70px;
    border: #ff656a 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.onboardStart:hover {
    cursor: pointer;
}

.onboardQuestions1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    width: 75vw;
    position: absolute;
    padding-top: 8vh;
    display: none;
}

.onboardQ1 {
    width: 100%;
    text-align: center;
    height: 8vh;
}

.onboardQ1Move {
    width: 70px;
    height: 40px;
    border: #ff656a 1px solid;
    text-align: center;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;

}

.onboardQ1Move:hover {
    cursor: pointer;
}

.selector {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    flex-direction: column;
    margin-top: 7vh;
}

.vapeCountBox {
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.vapeCountBoxItem {
    height: 40px;
    padding: 0px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.hoverOption {
    display: none;
}

.hoverOption:hover {
    background-color: lightgray;
}


.hoverOptionPurchase:hover {
    background-color: lightgray;
}

.hoverOptionPurchase {
    display: none;
}

.purchaseCountBox {
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.purchaseCountBoxItem {
    height: 40px;
    padding: 5px;
    align-items: center;
}

.slider {
    width: 100%;
}

.sliderRange {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectorSmall {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.onboardQuestions2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 80vw;
    position: absolute;
    padding-top: 8vh;
    display: none;
}

.onboardQ2 {
    width: 100%;
    text-align: left;
    height: 10vh;
}

.onboardQ2text {
    width: 100%;
    height: 10vh;
    padding: 10px;
    border: #ff656a 1px solid;
}

.onboardQ2Move {
    border: #ff656a 1px solid;
    border-radius: 16px;
    background-color: #ffffff;
    height: 5vh;
    width: 12vw;
}

.onboardQ2Move:hover {
    cursor: pointer;
}

.Q2button {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10vh;
}

.logEntry {
    background-color: #f6f1ea;
    width: 90vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logBorder {
    border: #ff656a 1px solid;
    border-radius: 16px;
}

#discardEntry {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
}

#logEntry {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.vapeQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.vapeQuestionOptions {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.vOption {
    width: 140px;
    border: black 1px solid;
    border-radius: 16px;
    font-size: 16px;
}

.vOption:hover {
    cursor: pointer;
    background-color: #fed700;
}

.feelings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feelingOption {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.feelingOption:hover {
    cursor: pointer;
    border: black 1px solid;
}

.feelingQuestion {
    width: 80%;
    height: 20vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    justify-content: center;
    padding-top: 3vh;
}

.symptoms {
    display: flex;
    justify-content: center;
}

.symptomOption {
    padding: 40px;
    justify-content: center;
}

.symptomQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.energyLevels {
    display: flex;
    justify-content: center;
}

.energyOption {
    padding: 40px;
    justify-content: center;
}

.energyQuestion {
    width: 80%;
    height: 15vh;
    background-color: white;
    margin-top: 5vh;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.discardEntry {
    background-color: #f6f1ea;
    border: #ff656a 1px solid;
    border-radius: 16px;
    width: 30vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vapeType {
    width: 15%;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    margin: 5vh;
    position: absolute;
    top: 40vh;

}

.vapeTypeItem {
    height: 30px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vapeTypeItem:hover {
    background-color: lightgray;
    cursor: pointer;
}

.hoverOptionVapeD {
    display: none;
}

.discardOptions {
    display: flex;
    justify-content: center;
    width: 110%;
    padding-top: 22vh;
}

.discardButton {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border: black 1px solid;
}

.discardButton:hover {
    cursor: pointer;
}

.purchaseEntry {
    background-color: #f6f1ea;
    width: 30vw;
    height: 80vh;
    text-align: center;
    /* padding-top: 5vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #ff656a 1px solid;
    border-radius: 10px;
}

#purchaseEntry {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.vapeTypeP {
    width: 10%;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    margin: 0vh;
    position: absolute;
    margin-top: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.vapeTypeItemP {
    height: 30px;
    padding: 10px;
    background-color: #ffffff;
}

.hoverOptionVapeP {
    display: none;
}

.vapePurchaseCost {
    width: 100%;
    text-align: center;
}

.purchaseOptions {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}


.purchaseButton {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border: black 1px solid;
    border-radius: 10px;
}

.purchaseButton:hover {
    cursor: pointer;
}

.close {
    width: 97%;
    text-align: right;
    padding-top: 2vh;
    padding-right: 2vh;
}

.close:hover {
    cursor: pointer;
}


.introduction {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff656a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 75px;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    border: black 1px solid;
}

.statsGrid {
    margin-top: 25px;
    display: grid;
    width: 65%;
    height: 45vh;
}


.entryOptions {
    display: flex;
    width: 65%;
    height: 15vh;
    background-color: #ff656a;
    margin-top: 25px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.entryButton {
    background-color: #ff656a;
    border: white 1px solid;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.gridItem {
    background-color: white;
    border: #ff656a 1px solid;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#savings {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#trajectory {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 60%;
}

#monthGlance {
    grid-column: 3;
    grid-row: 1 / span 3;
}

.navBar {
    height: 8vh;
    background-color: #9E46DB;
    width: 100%;
    position: absolute;
    top: 0;
}

.leftItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 100%;
    padding-left: 50px;
}

.dashboard {
    display: none;
    background-color: #f6f1ea;
}

.entryButton:hover {
    cursor: pointer;
}

.navItem:hover {
    cursor: pointer;
}

.navItem {
    color: white;
}

.pBox:hover {
    cursor: pointer;
}

.test:hover {
    cursor: pointer;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff656a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff656a;
    cursor: pointer;
}

.bruh {
    display: flex;
    align-items: center;
}

#userDayCount {
    margin-top: 0;
    padding-top: 50px;
    margin-right: 25px;
}

#gardenOverview {
    margin-top: 0;
    padding-top: 50px;
    padding-left: 75px;
}

div {
    font-size: 20px;
}

.onboardStartName {
    border-radius: 16px;
    background-color: #ffffff;
    width: 160px;
    height: 46px;
    border: #ff656a 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.startButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "Unbounded", serif;
}

div {
    font-family: "Nunito sans", sans-serif;
}